*{
    margin: 0 ;
    padding: 0;
}
@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunitoregular.woff);
}
@font-face {
    font-family: NunitoBold;
    src: url(../fonts/Nunitobold.woff);

}
body{
    font-family: NunitoBold, sans-serif;
    
}
.container{
    display: flex;
}
.logo-img{
    width: 260px;
}
.logo{
    width: 262px;
    top: 47px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.reg-form{
    display: flex;
    min-height: 100vh;
    justify-content: flex-end;
    width: 50%;
}
.sidebar{
    flex-shrink: 0;
    background: #ffffff;
    max-width: 496px;
    position: relative;
    padding: 194px 41px 191px 0;
    
}
.img-form{
    float: right;
    display: flex;
    background: #fbb3ba;
    width: 50%;
    min-height: 100vh;
    flex-grow: 1;
}
.title-form{
    font-size: 40px;
    color: #ff0000;
    margin-bottom: 20px;
}
.text-form{
    margin-bottom: 42px;
    font-size: 22px;
    line-height: 27px;
    color: #636363;
}
.add-form{
    font-size: 16px;
    color: #C6C6C4;
    margin-bottom: 10px;
}
.base-input{
    font-family: NunitoBold, sans-serif;
    display: flex;
    border: none;
    border-bottom: 1px solid #C6C6C4;
    width: 452px;
    font-size: 20px;
    line-height: 27px;
    color: #323232;
}
.input-form{
    margin-bottom: 20px;
}
.agree-form{
    font-size: 16px;
    line-height: 27px;

    color: #636363;
    margin: 10px 0 40px 0;
}
.check-form{
    margin-right: 10px;
}
.button-form{
    display: flex;
    justify-content: center; 
    align-items: center;
        margin-bottom: 44px;
}
.btn{
    width: 250px;
    background: #DD3142;
    border-radius: 40px;
    padding: 21px 0 25px 0;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    border: 0;

    justify-content: center;
}
.q-form{
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center;
    font-size: 16px;
    color: #636363;
    
}
.q-form a{
    text-decoration: none;
    outline: none;
    color: #636363;
}
.img-form img{
    width: 543px;
    height: 600px;
}
.img-form{
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    cursor: pointer;
    font-size: 24px;
    float: right;
}
body {
    font-family: Arial, sans-serif;
}

.popup {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.popup-text{
    margin-bottom: 40px;
}
.popup-btn{
    width: 100px;
    padding: 10px;
}
.close {
    cursor: pointer;
    font-size: 24px;
    float: right;
}
